body {

    /*  width: 95%;
    max-width: 800px;
    margin: auto; */
    margin-top: -5.5%;
    background-color: #FFB6C1;
    font-family: 'Amatic SC', cursive;
}



main {
    background-color: #FFB6C1;
    width: 95%;
    max-width: 1200px;
    margin: auto;
}

h1 {
    font-size: 80px;
    text-align: center;

    /*  text-shadow: 
    -1px -1px 0px #fff, 
    -1px 1px 0px #fff,                    
     1px -1px 0px #fff,                  
     1px 0px 0px #fff; */


    text-shadow:
        -1px -1px 0px #fbdcd7,
        -1px 1px 0px #fbdcd7,
        1px -1px 0px #fbdcd7,
        1px 0px 0px #fbdcd7;
}


h2 {

    font-size: 40px;
    text-align: center;
}

hr {
    border: 0;
    border-top: 0.1px solid;
    width: 600px;
}



.galeria-videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2vw;
    padding: 0 1vw;
}

.video-texto {
    width: 300px;
    height: 200px;
    border: 8px solid #fff;
    box-shadow: 5px 5px 5px rgba(255, 0, 0, 0.4);
    flex-grow: 1;
    transition: transform .5s linear;
}

.video-texto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-texto:hover {
    transform: scale(1.3);
}

.legenda {
    font-size: 27px;
    color: black;
    bottom: 38px;
    position: relative;
    background-color: white;
    text-decoration: none;
    text-align: left;
}



footer {
    width: 95%;
    min-height: 100%;
    background-color: #FFB6C1;
    display: flex;
    max-width: 800px;
    margin: auto;
    border: solid 1px rgba(255, 0, 0, 0.4);
    border-bottom: 3px solid rgba(255, 0, 0, 0.4);
    box-shadow: 20px 20px 10px rgba(255, 0, 0, 0.4);



}

footer .boxs {
    width: 320px;
    min-height: 150px;
    padding: 25px;
}

footer .boxs:nth-child(4) {
    width: 400px;
}

.icon {
    width: 10%;
    height: 10%;
    padding: 11.3%;
    display: inline-block;

}

a {
    color: black;
}

h3 {
    font-size: 20px;
    text-align: justify;

}

#menu ul {
    padding: 0px;
    margin: 0px;
    background-color: #FFB6C1;
    list-style: none;
    text-align: center;
    position: relative;
    bottom: 40px;

}

#menu ul li {
    display: inline;
    padding: 10px;
}

#menu ul li a {
    padding: 2px 30px;
    display: inline-block;

    /* visual do link */
    background-color: #FFB6C1;
    color: #333;
    text-decoration: none;
    border-bottom: 3px solid rgba(255, 0, 0, 0.4);
    box-shadow: 5px 5px 5px rgba(255, 0, 0, 0.4);
    font-size: 30px;
    font-weight: 580;
    border: solid 0.5px rgba(255, 0, 0, 0.4);
}

#menu ul li a:hover {
    background-color: rgba(251, 91, 91, 0.4);
    color: black;
    border-bottom: 3px solid black;
}

.logo {
    width: 70px;
    position: relative;
    left: -45px;
    bottom: -159px;
}

.titulologo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2vw;
    padding: 0 1vw;

}

.titulo {
    position: relative;
    left: 39px;
    bottom: -11px;
    text-align: center;
    color: #d5ab95;

}

footer h3 {



    text-align: center;
    font-size: 35px;
    text-align: center;
    border: 4px solid #FF9FAD;
    box-shadow: 10px 10px 10px rgba(255, 0, 0, 0.4);


}

footer h4 {
    font-size: 23px;
    text-align: justify;
}

h5 {
    font-size: 18px;
    text-align: center;
}


.passo1 img {
    width: 17%;
    border: 8px solid #ff9fad;
    box-shadow: 20px 20px 10px rgba(255, 0, 0, 0.4);
    flex-grow: 1;
    transition: transform .5s linear;

}

.passo2 img {
    width: 25%;
    height: 30%;
    border: 8px solid #ff9fad;
    box-shadow: 20px 20px 10px rgba(255, 0, 0, 0.4);
    flex-grow: 1;
    transition: transform .5s linear;
}

.passo3 img {
    width: 25.2%;
    border: 8px solid #ff9fad;
    box-shadow: 20px 20px 10px rgba(255, 0, 0, 0.4);
    flex-grow: 1;
    transition: transform .5s linear;

}

.passoapasso {
    display: inline-block;
    margin: auto;
    margin-left: 24%;


}



.quadrado1 {
    font-size: 30px;
    text-align: center;
    border: 5px solid #ff8799;
    box-shadow: 5px 5px 5px rgba(255, 0, 0, 0.4);
    width: 250px;
    padding: 5px;
    margin: 10px;
}

.quadrado2 {
    font-size: 30px;
    text-align: center;
    border: 5px solid #ff8799;
    box-shadow: 5px 5px 5px rgba(255, 0, 0, 0.4);
    width: 250px;
    padding: 5px;
    margin: 10px;
}

.quadrado3 {
    font-size: 30px;
    text-align: center;
    border: 5px solid #ff8799;
    box-shadow: 5px 5px 5px rgba(255, 0, 0, 0.4);
    width: 250px;
    padding: 5px;
    margin: 10px;

}

.quadrados {
    display: inline-flex;
    margin-left: 27%;

}

.porque h1 {
    border: 5px solid #ff8799;
    box-shadow: 10px 10px 10px rgba(255, 0, 0, 0.4);
    width: 400px;
    text-align: center;
    margin: auto;
    color: #ff8799;
    text-shadow:
        -1px -1px 0px #fbdcd7,
        -1px 1px 0px #fbdcd7,
        1px -1px 0px #fbdcd7,
        1px 0px 0px #fbdcd7;

}

.quadrados img {
    width: 50%;
    position: relative;
    margin: auto;
    text-align: center;
    position: relative;
    margin: auto;
    left: 8PX;
}

.como h1 {
    
    border: 5px solid #ff8799;
    box-shadow:  10px 10px 10px rgba(255, 0, 0, 0.4);
    width: 550px;
    text-align: center;
    margin: auto;
    color: #ff8799;
    text-shadow:
        -1px -1px 0px #fbdcd7,
        -1px 1px 0px #fbdcd7,
        1px -1px 0px #fbdcd7,
        1px 0px 0px #fbdcd7;

}

p {
    
    position: relative;
    text-align: justify;
    max-width: 600px;
    font-size: 30px;
    margin: auto;

}

.btn-5:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px #ff8799;
    outline-color: #ff8799;
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388; 
  }

  .btn-5 {
    border: 0 solid;
    box-shadow: inset 0 0 20px #ff8799;
    outline: 3px solid;
    outline-color: #ff8799;
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    text-align: center;
    position: relative;
    left:43.4%;
    font-size: 60px;
    text-decoration: none;
    padding: 10px;
    margin: AUTO;
    
  } 
  
  .qrcode img {
 width: 10%;
    position: relative;
    margin: auto;
    margin-left: 45%;

  }

  .qrcode p {  
text-align: center;
padding: 10px;
}

.deposito p {
    
    text-align: justify;
    margin: auto;
    margin-left: 45%;
}

.btn-5:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px #ff8799;
    outline-color: #ff8799;
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
}

.btn-5 {
    border: 0 solid;
    box-shadow: inset 0 0 20px #ff8799;
    outline: 3px solid;
    outline-color: #ff8799;
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    text-align: center;
    position: relative;
    left: 42%;
    font-size: 60px;
    text-decoration: none;
    padding: 10px;
    margin: AUTO;

}

@media screen and (max-width: 600px) {
    .logo {
        width:60px; 
        left: -24px;
        bottom: -55%;
}

.titulologo {
    font-size: 50px;
}
 }

 @media screen and (max-width: 600px) {
    footer {
        width: 100%;
    }

    footer .social img {

        display: flex;
        width: 26%;
        margin: auto;
    }
     }

