body {
  
    width: 95%;
    max-width: 1100px;
    margin: auto;
    margin-top: -5.5%;
    /* background-image: url(imagens/2d0f26a79c5e28201dc69746e3d02708.jpg); */
    background-color: #FFB6C1;
    font-family: 'Amatic SC', cursive;
}

main {
    background-color: white;
    width: 95%;
    max-width: 1100px;
    margin: auto;
}

h1 {
    font-size: 80px;
    text-align: center;
    text-shadow:
    -1px -1px 0px #fbdcd7,
    -1px 1px 0px #fbdcd7,
    1px -1px 0px #fbdcd7,
    1px 0px 0px #fbdcd7;
}

footer {
    width: 95%;
    min-height: 100%;
    background-color: #FFB6C1;
    display: flex;
    max-width: 800px;
    margin: auto;
    border: solid 1.5px rgba(255, 0, 0, 0.4);
    border-bottom: 3px solid rgba(255, 0, 0, 0.4);
    box-shadow: 20px 20px 10px rgba(255, 0, 0, 0.4);


}

footer .boxs {
    width: 320px;
    min-height: 150px;
    padding: 25px;


}

footer .boxs:nth-child(4) {
    width: 400px;
}

.icon {
    width: 10%;
    height: 10%;
    padding: 11%;
    display: inline-block;

}

a {
    color: black;
}

h3 {
    font-size: 20px;
    text-align: justify;
    text-decoration: none;
    
}

h2 {

    font-size: 40px;
    text-align: center;
}

#menu ul {
    padding: 0px;
    margin: 0px;
    background-color: #FFB6C1;
    list-style: none;
    text-align: center;
    position: relative;
    bottom: 40px;

}

#menu ul li {
    display: inline-flex;
    padding: 10px;
}

#menu ul li a {
    padding: 2px 30px;
    display: inline-block;

    /* visual do link */
    background-color: #FFB6C1;
    color: #333;
    text-decoration: none;
    border-bottom: 3px solid rgba(255, 0, 0, 0.4);
    box-shadow: 5px 5px 5px rgba(255, 0, 0, 0.4);
    font-size: 30px;
    font-weight: 580;
    border: solid 0.5px rgba(255, 0, 0, 0.4);
}

#menu ul li a:hover {
    background-color: rgba(251, 91, 91, 0.4);
    color: black;
    border-bottom: 3px solid black;
}


.logo {
    width: 90px;
    bottom: -2px;
    position: relative;
    left: 100px;
}

.logobg,
.titulodose {
    display: inline-block;
    justify-content: space-evenly;
    margin-left: 100px;
    padding: 0px;

}

.titulodose {
    position: relative;
    left: 20px;
}

.logo {
    width: 70px;
    position: relative;
    left: -45px;
    bottom: -159px;
}

.titulologo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2vw;
    padding: 0 1vw;

}

.titulo {
    position: relative;
    left: 39px;
    bottom: -11px;
    text-align: center;
    color: #d5ab95;
}

footer h3 {
 

   
    text-align: center;
    font-size: 35px;
    text-align: center;
    border: 4px solid #FF9FAD;
    box-shadow: 10px 10px 10px rgba(255, 0, 0, 0.4);
    
   

}

footer h4 {
    font-size: 23px;
    text-align: justify;
}

/* .button { */
    /* Para posicionar os botões para a mesma posição dos campos de texto */
     /* mesmo tamanho que os elementos do tipo label */

/* } */
button {
    /* Esta margem extra representa aproximadamente o mesmo espaço que o espaço entre as labels e os seus campos de texto*/
   margin: auto;
    padding: 5px;
    display: flex;
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    text-decoration: none;
}



  
p {

font-size: 40px;
text-align: center;
}

.botaooutra {
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    .logo {
        width:60px; 
        left: -24px;
        bottom: -55%;
}

.titulologo {
    font-size: 50px;
}
 }

 @media screen and (max-width: 600px) {
    footer {
        width: 100%;
    }

    footer .social img {

        display: flex;
        width: 26%;
        margin: auto;
    }
     }

